<!-- <header class="bg-dark text-white text-center py-3">
  <h1>Evaluación Angular</h1>
</header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let option of menu">
          <a class="nav-link" [href]="option.link">{{ option.text }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<footer class="bg-dark text-white text-center py-3">
  <p>Derechos Reservados &copy; 2023</p>
</footer> -->



<!-- <div class="container mt-5">
  <div class="row">
    <div class="col col-12 col-md-4 col-lg-4" *ngFor="let option of menu">
      <div class="menu-option m-2">
        <a [routerLink]="option.link" class="btn btn-block link">{{option.text}}</a>
      </div>
    </div>
  </div>
</div> -->
